.App {
  text-align: center;
  width: 100%;
  height: 100vh;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.navbar {
  margin: 30px;
}

.button-menu {
  margin-top: 100px;
}

.bold {
  font-weight: bold;
}

.joke-select {
  margin-bottom: 30px;
}

.joke-text {
  font-size: 1.5em;
}

.punchline-text {
  font-size: 1.2em;
}
